body {
    font-family: 'Lato', sans-serif;
    background: #e8ebf1;
    margin: 0;
}

@media screen and (min-width:960px) {
    .wrapper {
        display: grid;
        grid-template-columns: 2.5fr repeat(12, 1fr) 2.5fr;
        grid-template-rows: 80px;
        margin: 0;
        align-items: center;
    }

    .logo {
        grid-column: 2 / 4;
        font-size: 2.5em;
        color: #81e4ed;

    }

    .logo span {
        color: black;
        font-weight: 800;
    }

    .menu {
        grid-column: 5 / -2;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        justify-items: center;

    }

    .menuitem a {
        text-decoration: none;
        color: black;
    }

    .menuitem a:hover {
        color: #81e4ed;
    }

    .slider {
        grid-column: 1 / -1;
        justify-content: center;
        background-color: #81e4ed;
        display: grid;
        grid-template-columns: 2.5fr repeat(12, 1fr) 2.5fr;
    }

    .slider {
        background-color: aliceblue;
    }

    .sliderimg {
        width: 100%;
        grid-column: 2 / -2;
        display: grid;
        margin: 15px 0;
        justify-items: center;
    }

    .sliderimg > img {
        min-width: 100%;
        max-width: 100%;
    }

    .textbox1, .textbox2, .textbox3, .textbox4 {
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 15px;
        align-items: center;
    }

    .textbox1 {
        grid-column: 2 / 5;
    }

    .textbox2 {
        grid-column: 5 / 8;
    }

    .textbox3 {
        grid-column: 8 / 11;
    }

    .textbox4 {
        grid-column: 11 / 14;
    }

    .textbox1>i {
        color: white;
        background-color: #81e4ed;
        height: 2em;
        width: 2em;
        border-radius: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .textbox1>a {
        text-decoration: none;
        color: #81e4ed;
        grid-column: 1 / -1;
    }

    .textbox2>i {
        color: white;
        background-color: #81e4ed;
        height: 2em;
        width: 2em;
        border-radius: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .textbox2>a {
        text-decoration: none;
        color: #81e4ed;
        grid-column: 1 / -1;
    }

    .textbox3>i {
        color: white;
        background-color: #81e4ed;
        height: 2em;
        width: 2em;
        border-radius: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .textbox3>a {
        text-decoration: none;
        color: #81e4ed;
        grid-column: 1 / -1;
    }

    .textbox4>i {
        color: white;
        background-color: #81e4ed;
        height: 2em;
        width: 2em;
        border-radius: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .textbox4>a {
        text-decoration: none;
        color: #81e4ed;
        grid-column: 1 / -1;
    }

    .textareatext {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .content {
        background-color: white;
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: 2.5fr repeat(12, 1fr) 2.5fr;
        padding-bottom: 20px;
    }

    .content_image1 {
        grid-column: 2 / 5;
        border-top: 1px solid #d1e1e5;
        border-bottom: 1px solid #d1e1e5;
    }

    .content_image2 {
        grid-column: 5 / 8;
        border-top: 1px solid #d1e1e5;
        border-bottom: 1px solid #d1e1e5;
    }

    .content_image3 {
        grid-column: 8 / 11;
        border-top: 1px solid #d1e1e5;
        border-bottom: 1px solid #d1e1e5;
    }

    .content_image4 {
        grid-column: 11 / 14;
        border-top: 1px solid #d1e1e5;
        border-bottom: 1px solid #d1e1e5;
    }

    .header {
        grid-column: 2 / -2;
        font-weight: 700;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .overlay {
        grid-column: 1 / -1;
        position: relative;
    }

    .overlay > a {
        position: absolute;
        width: 100%;
        height: auto;
        background-color: #81e4ed;
        left: 0;
        bottom: 0;
        text-align: center;
        text-decoration: none;
        color: white;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

    .overlay:hover > a {
        opacity: 1;
    }

    img {
        width: 100%;
        background-color: white;
    }

    .testimontials {
        grid-column: 2 / 8;
        padding-right: 10%;
    }

    .clients {
        grid-column: 8 / 14;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-content: start;
    }

    .clients .header {
        grid-column: 1 / -1;
    }

    .clients_img {
        display: grid;
        align-items: center;
        justify-items: center;
        background-color: #f6f7f9;
        padding: 10px 10px;
    }

    .clients_img > img {
        max-width: 100%;
        min-width: 100%;
    }

    .box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column: 2 / -2;
        grid-gap: 20px;
        border: 1px solid #81e4ed;
        background-color: #e8fcfe;
        padding: 40px 30px;
        margin-top: 40px;
    }

    .box_textarea {
        grid-column: 1 / 4;
    }

    .box_button {
        grid-column: 4 / 5;
    }

    .box_button:hover {
        cursor: pointer;
    }

    .box_button > button {
        width: 100%;
        height: 100%;
    }

    .footer {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 1.25fr repeat(6, 1fr) 1.25fr;
        background-color: #e8ebf1;
    }

    .footer_item:first-child {
        grid-column: 2 / 4;
        padding-right: 30px;
    }

    .footer_item {
        padding-right: 20px;
    }

    ul {
        list-style: none;
    }

    .footer_socials {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(2, 1fr);
        align-items: center;
        justify-items: center;
    }

    .footer_socials > .header {
        grid-column: 1 / -1;
    }

    .socialimg {
        font-size: 3em;
        max-width: 100%;
    }

    .copyright {
        grid-column: 2 / -2;
        text-align: center;
        color: #555555;
        padding-bottom: 10px;
    }

    .copyright > a {
        text-decoration: none;
        color: #000000;
    }

    a {
        text-decoration: none;
        color: #000;
    }

    a:hover {
        text-decoration: none;
        color: #81e4ed;
    }
}


/*


    RESPONSIVITY FOR TABLETS AND LOW-WIDTH COMPUTERS


*/

@media screen and (min-width: 768px) and (max-width:960px) {
    .wrapper {
        display: grid;
        grid-template-columns: 10px repeat(12, 1fr) 10px;
        grid-template-rows: 80px;
        margin: 0;
        align-items: center;
    }

    .logo {
        grid-column: 2 / 4;
        font-size: 2.5em;
        color: #81e4ed;

    }

    .logo span {
        color: black;
        font-weight: 800;
    }

    .menu {
        grid-column: 5 / -2;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        justify-items: center;

    }

    .menuitem a {
        text-decoration: none;
        color: black;
    }

    .menuitem a:hover {
        color: #81e4ed;
    }

    .slider {
        grid-column: 1 / -1;
        justify-content: center;
        background-color: #81e4ed;
        display: grid;
        grid-template-columns: 10px repeat(12, 1fr) 10px;
    }

    .slider {
        background-color: aliceblue;
    }

    .sliderimg {
        width: 100%;
        grid-column: 2 / -2;
        display: grid;
        margin: 15px 0;
        justify-items: center;
    }

    .sliderimg > img {
        min-width: 100%;
        max-width: 100%;
    }

    .textbox1, .textbox2, .textbox3, .textbox4 {
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 15px;
        align-items: center;
    }

    .textbox1 {
        grid-column: 2 / 5;
    }

    .textbox2 {
        grid-column: 5 / 8;
    }

    .textbox3 {
        grid-column: 8 / 11;
    }

    .textbox4 {
        grid-column: 11 / 14;
    }

    .textbox1>i {
        color: white;
        background-color: #81e4ed;
        height: 2em;
        width: 2em;
        border-radius: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .textbox1>a {
        text-decoration: none;
        color: #81e4ed;
        grid-column: 1 / -1;
    }

    .textbox2>i {
        color: white;
        background-color: #81e4ed;
        height: 2em;
        width: 2em;
        border-radius: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .textbox2>a {
        text-decoration: none;
        color: #81e4ed;
        grid-column: 1 / -1;
    }

    .textbox3>i {
        color: white;
        background-color: #81e4ed;
        height: 2em;
        width: 2em;
        border-radius: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .textbox3>a {
        text-decoration: none;
        color: #81e4ed;
        grid-column: 1 / -1;
    }

    .textbox4>i {
        color: white;
        background-color: #81e4ed;
        height: 2em;
        width: 2em;
        border-radius: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .textbox4>a {
        text-decoration: none;
        color: #81e4ed;
        grid-column: 1 / -1;
    }

    .textareatext {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .content {
        background-color: white;
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: 10px repeat(12, 1fr) 10px;
        padding-bottom: 20px;
    }

    .content_image1 {
        grid-column: 2 / 5;
        border-top: 1px solid #d1e1e5;
        border-bottom: 1px solid #d1e1e5;
    }

    .content_image2 {
        grid-column: 5 / 8;
        border-top: 1px solid #d1e1e5;
        border-bottom: 1px solid #d1e1e5;
    }

    .content_image3 {
        grid-column: 8 / 11;
        border-top: 1px solid #d1e1e5;
        border-bottom: 1px solid #d1e1e5;
    }

    .content_image4 {
        grid-column: 11 / 14;
        border-top: 1px solid #d1e1e5;
        border-bottom: 1px solid #d1e1e5;
    }

    .header {
        grid-column: 2 / -2;
        font-weight: 700;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .overlay {
        grid-column: 1 / -1;
        position: relative;
    }

    .overlay > a {
        position: absolute;
        width: 100%;
        background-color: #81e4ed;
        left: 0;
        bottom: 0;
        text-align: center;
        text-decoration: none;
        color: white;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

    .overlay:hover > a {
        opacity: 1;
    }

    img {
        width: 100%;
        background-color: white;
    }

    .testimontials {
        grid-column: 2 / 8;
        padding-right: 10%;
    }

    .clients {
        grid-column: 8 / 14;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-content: start;
    }

    .clients .header {
        grid-column: 1 / -1;
    }

    .clients_img {
        display: grid;
        align-items: center;
        justify-items: center;
        background-color: #f6f7f9;
        padding: 10px 10px;
    }

    .clients_img > img {
        max-width: 100%;
        min-width: 100%;
    }

    .box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column: 2 / -2;
        grid-gap: 20px;
        border: 1px solid #81e4ed;
        background-color: #e8fcfe;
        padding: 40px 30px;
        margin-top: 40px;
    }

    .box_textarea {
        grid-column: 1 / 4;
    }

    .box_button {
        grid-column: 4 / 5;
    }

    .box_button:hover {
        cursor: pointer;
    }

    .box_button > button {
        width: 100%;
        height: 100%;
    }

    .footer {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 10px repeat(6, 1fr) 10px;
        background-color: #e8ebf1;
    }

    .footer_item:first-child {
        grid-column: 2 / 4;
        padding-right: 30px;
    }

    .footer_item {
        padding-right: 20px;
    }

    ul {
        list-style: none;
    }

    .footer_socials {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(2, 1fr);
        align-items: center;
        justify-items: center;
    }

    .footer_socials > .header {
        grid-column: 1 / -1;
    }

    .socialimg {
        font-size: 3em;
        max-width: 100%;
    }

    .copyright {
        grid-column: 2 / -2;
        text-align: center;
        color: #555555;
        padding-bottom: 10px;
    }

    .copyright > a {
        text-decoration: none;
        color: #000000;
    }

    a {
        text-decoration: none;
        color: #000;
    }

    a:hover {
        text-decoration: none;
        color: #81e4ed;
    }
}


/*


    RESPONSIVITY FOR SMARTPHONES


*/

@media screen and (max-width:768px) {
    .wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 80px;
        margin: 0;
    }

    .logo {
        grid-column: 1 / -1;
        font-size: 2.5em;
        color: #81e4ed;
        display: flex;
        justify-content: center;
    }

    .logo span {
        color: black;
        font-weight: 800;
    }

    .menu {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        justify-items: center;
        font-size: 0.6em;
    }

    .menuitem a {
        text-decoration: none;
        color: black;
    }

    .menuitem a:hover {
        color: #81e4ed;
    }

    .slider {
        grid-column: 1 / -1;
        justify-content: center;
        background-color: #81e4ed;
        display: grid;
        grid-template-columns: 1fr;
    }

    .slider {
        background-color: aliceblue;
    }

    .sliderimg {
        width: 100%;
        grid-column: 1/-1;
        display: grid;
        margin: 15px 0;
        justify-items: center;
    }

    .sliderimg>img {
        width: 100%;
    }

    .textbox1,
    .textbox2,
    .textbox3,
    .textbox4 {
        padding: 10px;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 15px;
    }

    .textbox1 {
        grid-column: 1/2;
    }

    .textbox2 {
        grid-column: 2/3;
    }

    .textbox3 {
        grid-column: 1/2;
    }

    .textbox4 {
        grid-column: 2/3;
    }

    .textbox1>i {
        color: white;
        background-color: #81e4ed;
        height: 2em;
        width: 2em;
        border-radius: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .textbox1>a {
        text-decoration: none;
        color: #81e4ed;
        grid-column: 1 / -1;
    }

    .textbox2>i {
        color: white;
        background-color: #81e4ed;
        height: 2em;
        width: 2em;
        border-radius: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .textbox2>a {
        text-decoration: none;
        color: #81e4ed;
        grid-column: 1 / -1;
    }

    .textbox3>i {
        color: white;
        background-color: #81e4ed;
        height: 2em;
        width: 2em;
        border-radius: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .textbox3>a {
        text-decoration: none;
        color: #81e4ed;
        grid-column: 1 / -1;
    }

    .textbox4>i {
        color: white;
        background-color: #81e4ed;
        height: 2em;
        width: 2em;
        border-radius: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .textbox4>a {
        text-decoration: none;
        color: #81e4ed;
        grid-column: 1 / -1;
    }

    .textareatext {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .content {
        background-color: white;
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: repeat(4, 1fr);
        padding: 10px;
    }

    .content_image1 {
        grid-column: 1/2;
        border-top: 1px solid #d1e1e5;
        border-bottom: 1px solid #d1e1e5;
    }

    .content_image2 {
        grid-column: 2/3;
        border-top: 1px solid #d1e1e5;
        border-bottom: 1px solid #d1e1e5;
    }

    .content_image3 {
        grid-column: 3/4;
        border-top: 1px solid #d1e1e5;
        border-bottom: 1px solid #d1e1e5;
    }

    .content_image4 {
        grid-column: 4/5;
        border-top: 1px solid #d1e1e5;
        border-bottom: 1px solid #d1e1e5;
    }

    .header {
        grid-column: 1/-1;
        font-weight: 700;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .overlay {
        grid-column: 1 / -1;
        position: relative;
    }

    .overlay>a {
        position: absolute;
        width: 100%;
        height: auto;
        background-color: #81e4ed;
        left: 0;
        bottom: 0;
        text-align: center;
        text-decoration: none;
        color: white;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

    .overlay:hover>a {
        opacity: 1;
    }

    img {
        width: 100%;
        background-color: white;
    }

    .testimontials {
        grid-column: 1/-1;
        padding-top: 10px;
    }

    .clients {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 20px;
        align-content: start;
    }

    .clients .header {
        grid-column: 1 / -1;
    }

    .clients_img {
        padding: 5px;
        display: grid;
        align-items: center;
        justify-items: center;
        background-color: #f6f7f9;
    }

    .clients_img>img {
        max-width: 100%;
        min-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .box {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-column: 1/-1;
        grid-gap: 20px;
        border: 1px solid #81e4ed;
        background-color: #e8fcfe;
        padding: 10px;
        margin-top: 20px;
    }

    .box_textarea {
        grid-column: 1/2;
    }

    .box_button {
        grid-column: 1/2;
    }

    .box_button:hover {
        cursor: pointer;
    }

    .box_button>button {
        width: 100%;
        height: 100%;
    }

    .footer {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #e8ebf1;
        padding: 10px;
    }

    .footer_item:first-child {
        grid-column: 1/3;
        padding-right: 30px;
    }

    .footer_item:nth-child(2) {
        grid-column: 1/2;
    }

    .footer_item:nth-child(3) {
        grid-column: 2/3;
    }

    .footer_item:nth-child(4) {
        grid-column: 1/2;
        margin-top: 20px;
    }

    .footer_item {
        padding-right: 20px;
    }

    ul {
        list-style: none;
    }

    .footer_socials {
        grid-column: 2/3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(2, 1fr);
        margin-top: 20px;
    }

    .footer_socials>.header {
        grid-column: 1 / -1;
    }

    .socialimg {
        font-size: 3em;
        max-width: 100%;
    }

    .copyright {
        grid-column: 1 / -1;
        text-align: center;
        color: #555555;
        padding-bottom: 10px;
    }

    .copyright>a {
        text-decoration: none;
        color: #000000;
    }

    a {
        text-decoration: none;
        color: #000;
    }

    a:hover {
        text-decoration: none;
        color: #81e4ed;
    }
}