body {
    font-family: 'Lato', sans-serif;
    background: #e8ebf1;
    margin: 0;
}

.wrapper {
    display: grid;
    margin: 0;
    align-items: center;
}

.logo {
    color: #81e4ed;
    font-size: 2.5em;
}

.logo span {
    color: black;
    font-weight: 800;
}

.menu {
    display: grid;
    align-items: center;
    justify-items: center;
}

.menuitem a {
    text-decoration: none;
    color: black;
}

.menuitem a:hover {
    color: #81e4ed;
}

.slider {
    justify-content: center;
    background-color: #81e4ed;
    display: grid;
}

.slider {
    background-color: aliceblue;
}

.sliderimg {
    width: 100%;
    display: grid;
    margin: 15px 0;
    justify-items: center;
}

.sliderimg>img {
    min-width: 100%;
    max-width: 100%;
}

.textbox1>i {
    color: white;
    background-color: #81e4ed;
    height: 2em;
    width: 2em;
    border-radius: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbox1>a {
    text-decoration: none;
    color: #81e4ed;
}

.textbox2>i {
    color: white;
    background-color: #81e4ed;
    height: 2em;
    width: 2em;
    border-radius: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbox2>a {
    text-decoration: none;
    color: #81e4ed;
}

.textbox3>i {
    color: white;
    background-color: #81e4ed;
    height: 2em;
    width: 2em;
    border-radius: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbox3>a {
    text-decoration: none;
    color: #81e4ed;
}

.textbox4>i {
    color: white;
    background-color: #81e4ed;
    height: 2em;
    width: 2em;
    border-radius: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbox4>a {
    text-decoration: none;
    color: #81e4ed;
}

.content {
    background-color: white;
    display: grid;
    padding-bottom: 20px;
}

.content_image1 {
    border-top: 1px solid #d1e1e5;
    border-bottom: 1px solid #d1e1e5;
}

.content_image2 {
    border-top: 1px solid #d1e1e5;
    border-bottom: 1px solid #d1e1e5;
}

.content_image3 {
    border-top: 1px solid #d1e1e5;
    border-bottom: 1px solid #d1e1e5;
}

.content_image4 {
    border-top: 1px solid #d1e1e5;
    border-bottom: 1px solid #d1e1e5;
}

.header {
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 10px;
}

.overlay {
    position: relative;
}

.overlay>a {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #81e4ed;
    left: 0;
    bottom: 0;
    text-align: center;
    text-decoration: none;
    color: white;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.overlay:hover>a {
    opacity: 1;
}

img {
    width: 100%;
    background-color: white;
}

.testimontials {
    padding-right: 10%;
}

.clients {
    display: grid;
    align-content: start;
}

.clients_img {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: #f6f7f9;
    padding: 10px 10px;
}

.clients_img>img {
    max-width: 100%;
    min-width: 100%;
}

.box {
    display: grid;
    border: 1px solid #81e4ed;
    background-color: #e8fcfe;
    padding: 40px 30px;
    margin-top: 40px;
}

.box_textarea {
    grid-column: 1 / 4;
}

.box_button {
    grid-column: 4 / 5;
}

.box_button:hover {
    cursor: pointer;
}

.box_button>button {
    width: 100%;
    height: 100%;
}

.footer {
    display: grid;
    background-color: #e8ebf1;
}

.footer_item:first-child {
    padding-right: 30px;
}

.footer_item {
    padding-right: 20px;
}

ul {
    list-style: none;
}

.footer_socials {
    display: grid;
    align-items: center;
    justify-items: center;
}

.socialimg {
    font-size: 3em;
    max-width: 100%;
}

.copyright {
    text-align: center;
    color: #555555;
    padding-bottom: 10px;
}

.copyright>a {
    text-decoration: none;
    color: #000000;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #81e4ed;
}





@media screen and (min-width:960px) {
    .wrapper {
        grid-template-columns: 2.5fr repeat(12, 1fr) 2.5fr;
        grid-template-rows: 80px;
    }

    .logo {
        grid-column: 2 / 4;
    }

    .menu {
        grid-column: 5 / -2;
        grid-template-columns: repeat(5, 1fr);
    }

    .slider {
        grid-column: 1 / -1;
        grid-template-columns: 2.5fr repeat(12, 1fr) 2.5fr;
    }

    .sliderimg {
        grid-column: 2 / -2;
    }

    .textbox1, .textbox2, .textbox3, .textbox4 {
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 15px;
        align-items: center;
    }

    .textbox1 {
        grid-column: 2 / 5;
    }

    .textbox2 {
        grid-column: 5 / 8;
    }

    .textbox3 {
        grid-column: 8 / 11;
    }

    .textbox4 {
        grid-column: 11 / 14;
    }

    .textbox1>a {
        grid-column: 1 / -1;
    }

    .textbox2>a {
        grid-column: 1 / -1;
    }


    .textbox3>a {
        grid-column: 1 / -1;
    }

    .textbox4>a {
        text-decoration: none;
        color: #81e4ed;
        grid-column: 1 / -1;
    }

    .textareatext {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .content {
        grid-column: 1 / -1;
        grid-template-columns: 2.5fr repeat(12, 1fr) 2.5fr;
    }

    .content_image1 {
        grid-column: 2 / 5;
    }

    .content_image2 {
        grid-column: 5 / 8;
    }

    .content_image3 {
        grid-column: 8 / 11;
    }

    .content_image4 {
        grid-column: 11 / 14;
    }

    .header {
        grid-column: 2 / -2;
    }

    .overlay {
        grid-column: 1 / -1;
    }

    .testimontials {
        grid-column: 2 / 8;
    }

    .clients {
        grid-column: 8 / 14;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .clients .header {
        grid-column: 1 / -1;
    }

    .box {
        grid-template-columns: repeat(4, 1fr);
        grid-column: 2 / -2;
        grid-gap: 20px;
    }

    .box_textarea {
        grid-column: 1 / 4;
    }

    .box_button {
        grid-column: 4 / 5;
    }

    .footer {
        grid-column: 1 / -1;
        grid-template-columns: 1.25fr repeat(6, 1fr) 1.25fr;
    }

    .footer_item:first-child {
        grid-column: 2 / 4;
    }

    .footer_socials {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(2, 1fr);
    }

    .footer_socials > .header {
        grid-column: 1 / -1;
    }

    .copyright {
        grid-column: 2 / -2;
    }
}


/*


    RESPONSIVITY FOR TABLETS AND LOW-WIDTH COMPUTERS


*/

@media screen and (min-width: 768px) and (max-width:960px) {
    .wrapper {
        grid-template-columns: 10px repeat(12, 1fr) 10px;
        grid-template-rows: 80px;
    }

    .logo {
        grid-column: 2 / 4;

    }

    .menu {
        grid-column: 5 / -2;
        display: grid;
        grid-template-columns: repeat(5, 1fr);

    }

    .slider {
        grid-column: 1 / -1;
        grid-template-columns: 10px repeat(12, 1fr) 10px;
    }

    .sliderimg {
        grid-column: 2 / -2;
    }

    .textbox1, .textbox2, .textbox3, .textbox4 {
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 15px;
        align-items: center;
    }

    .textbox1 {
        grid-column: 2 / 5;
    }

    .textbox2 {
        grid-column: 5 / 8;
    }

    .textbox3 {
        grid-column: 8 / 11;
    }

    .textbox4 {
        grid-column: 11 / 14;
    }

    .textbox1>a {
        grid-column: 1 / -1;
    }

    .textbox2>a {
        grid-column: 1 / -1;
    }

    .textbox3>a {
        grid-column: 1 / -1;
    }

    .textbox4>a {
        grid-column: 1 / -1;
    }

    .textareatext {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .content {
        grid-column: 1 / -1;
        grid-template-columns: 10px repeat(12, 1fr) 10px;
    }

    .content_image1 {
        grid-column: 2 / 5;
    }

    .content_image2 {
        grid-column: 5 / 8;
    }

    .content_image3 {
        grid-column: 8 / 11;
    }

    .content_image4 {
        grid-column: 11 / 14;
    }

    .header {
        grid-column: 2 / -2;
    }

    .overlay {
        grid-column: 1 / -1;
    }

    .testimontials {
        grid-column: 2 / 8;
    }

    .clients {
        grid-column: 8 / 14;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .clients .header {
        grid-column: 1 / -1;
    }

    .box {
        grid-template-columns: repeat(4, 1fr);
        grid-column: 2 / -2;
        grid-gap: 20px;
    }

    .box_textarea {
        grid-column: 1 / 4;
    }

    .box_button {
        grid-column: 4 / 5;
    }

    .footer {
        grid-column: 1 / -1;
        grid-template-columns: 10px repeat(6, 1fr) 10px;
    }

    .footer_item:first-child {
        grid-column: 2 / 4;
    }

    .footer_item {
        padding-right: 20px;
    }

    .footer_socials {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(2, 1fr);
    }

    .footer_socials > .header {
        grid-column: 1 / -1;
    }

    .copyright {
        grid-column: 2 / -2;
    }
}


/*


    RESPONSIVITY FOR SMARTPHONES


*/

@media screen and (max-width:768px) {
    .wrapper {
        grid-template-columns: 50% 50%;
        grid-template-rows: 80px;
    }

    .logo {
        grid-column: 1 / -1;
        margin: 0 10px;
    }

    .menu {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        font-size: 0.7em;
    }

    .slider {
        grid-column: 1 / -1;
        grid-template-columns: 1fr;
    }

    .sliderimg {
        grid-column: 1/-1;
    }

    .textbox1,
    .textbox2,
    .textbox3,
    .textbox4 {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 15px;
    }

    .textbox1 {
        grid-column: 1/2;
        margin-left: 10px;
        margin-bottom: 15px;
    }

    .textbox2 {
        grid-column: 2/3;
        margin-right: 10px;
        margin-bottom: 15px;
    }

    .textbox3 {
        grid-column: 1/2;
        margin-left: 10px;
        margin-bottom: 15px;
    }

    .textbox4 {
        grid-column: 2/3;
        margin-right: 10px;
        margin-bottom: 15px;
    }

    .textbox1>a {
        grid-column: 1 / -1;
    }

    .textbox2>a {
        grid-column: 1 / -1;
    }

    .textbox3>a {
        grid-column: 1 / -1;
    }

    .textbox4>a {
        grid-column: 1 / -1;
    }

    .textareatext {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .content {
        grid-column: 1 / -1;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 10px;
    }

    .content_image1 {
        grid-column: 1/2;
    }

    .content_image2 {
        grid-column: 2/3;
    }

    .content_image3 {
        grid-column: 3/4;
    }

    .content_image4 {
        grid-column: 4/5;
    }

    .header {
        grid-column: 1/-1;
    }

    .overlay {
        grid-column: 1 / -1;
    }

    .testimontials {
        grid-column: 1/-1;
    }

    .clients {
        grid-column: 1/-1;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .clients .header {
        grid-column: 1 / -1;
    }

    .box {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-column: 1/-1;
        grid-gap: 20px;
        margin: 15px;
    }

    .box_textarea {
        grid-column: 1/2;
    }

    .box_button {
        grid-column: 1/2;
    }

    .footer {
        grid-column: 1 / -1;
        grid-template-columns: 1fr 1fr;
        padding: 0 10px;
    }

    .footer_item:first-child {
        grid-column: 1/3;
    }

    .footer_item:nth-child(2) {
        grid-column: 1/2;
    }

    .footer_item:nth-child(3) {
        grid-column: 2/3;
    }

    .footer_item:nth-child(4) {
        grid-column: 1/2;
        margin-top: 20px;
    }

    .footer_socials {
        grid-column: 2/3;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(2, 1fr);
        display: flex;
        justify-content: start;
    }

    .footer_socials>.header {
        grid-column: 1 / -1;
    }

    .copyright {
        grid-column: 1 / -1;
    }
}